$topPadding: .3rem;
$smallText: 1.2rem;
$smallerText: $smallText * 0.85;

.socialCard{
  width: 90%;
  color: #000000;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;

  .socialCard-top-row{
    font-size: $smallText / 2;
    text-align: left;
    color: rgba($color: #000000, $alpha: .3)
  }

  .socialCard-mid-row{
    padding-top: $topPadding;
    font-size: $smallText;
    text-align: left;
  }

  .socialCard-bottom-row{
    padding-top: $topPadding;
    font-size: $smallText;
    color:rgba(0, 0, 0, 0.6);

    .socialCard-bottom-row-icon{
      margin: $topPadding;
      font-size: $smallText;
    }
  }

}

@media (max-width: 700px){
  .socialCard{
    .socialCard-mid-row{
      font-size: $smallerText;
    }
  }

  .socialCard-bottom-row{
    font-size: $smallerText;

    .socialCard-bottom-row-icon{
      font-size: $smallerText;
    }
  }
}
