.comment{
    padding: 1rem;

    .comment-date{
        font-size: .6rem;
        text-align: left;
        color: rgba($color: #000000, $alpha: .3)
    }
}

.comment + .comment{
    margin-top: .1rem;
}